
*.db
*.log
.ipynb_checkpoints/
__pycache__/
cache/
db/
geckodriver.log
proof/
*.jpg
!image_not_found.jpg
old_capture_server/valkka-examples/
sandbox.ipynb
sandbox.py
.env
telegram_get_updates.ipynb
telegram_get_updates.py
